*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

button {
    background-color: #add8e6; /* Light Blue */
    border: none;
    color: white;
    padding: 10px 20px; /* Smaller padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Smaller font size */
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #87ceeb; /* Slightly darker blue on hover */
}